/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Typography */
h1 {
    text-align: center;
    margin-bottom: 20px; /* Consolidated margin for all h1 elements */
    color: #333; /* Set default color */
}

.logo {
    font-family: 'Playfair Display', sans-serif;
}

body {
	font-family: 'Open Sans', sans-serif;
    background-color: #D6D6D6;
    color: #333;
    line-height: 1.6;
	padding-top: 60px;
}

/* Navigation Bar Styles */
nav {
    background-color: #333;
    position: fixed;
    width: 100%;
    color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0; /* Ensure the navigation bar stays at the top */
    z-index: 1000; /* Ensure the navigation bar stays above other content */
    border-top: none; /* This gets rid of a gray line above the nav bar. I think.*/
}

nav .logo {
    margin-right: auto; /* Push the logo to the left */
}

nav .logo h1 {
    color: #ffffff; /* Set text color to white */
    margin: 0; /* Remove default margin */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; /* Align items vertically */
}

nav ul li {
    margin: 0 10px; /* Equal spacing between each list item */
}

nav ul li:first-child {
    margin-left: 0; /* Remove margin for the first link */
}

nav ul li:last-child {
    margin-right: auto; /* Push the links to the right */
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #CCCCCC;
}

/* Main Content Styles */
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    padding-bottom: 5px;
}

p {
    margin-bottom: 20px; /* Set default margin for paragraphs */
}

/* Section Styles */
section {
    margin-bottom: 40px;
}

section h2 {
    padding-top: 40px;
	font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

section h1 {
    padding-top: 40px;
	font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    bottom: 0;
    width: 100%;
}

footer div {
    margin-bottom: 10px;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #CCCCCC;
}

footer div a {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 10px;
    transition: all .1s ease-in-out; 
    overflow: hidden;
}

footer div a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer div a:hover {
    transform: scale(0.9);
}

footer div a:not(:hover) {
    transform: scale(1);
}

/* Form Styles */
.container1 {
    max-width: 600px;
    margin: 20px auto;
    padding: 0 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* Column Styles */
.container-col,
.container-col2 {
    float: left;
    width: 50%;
    padding: 0 15px;
}

.container-col {
    max-width: 600px;
}

.container-col2 {
    width: 25%;
    max-width: calc((100% - 30px) / 4); /* Adjusted to maintain proper spacing */
}

.container-row:after {
    content: "";
    display: table;
    clear: both;
}

/* Styling for all container elements */
.container-col,
.container-col2,
.container-row {
    margin: 20px auto;
    padding: 0 20px;
    padding-bottom: 5px;
    max-width: 1200px; /* Adjusted for consistency */
}

/* Adjusting spacing between bold and regular text */
.container-col h3,
.container-col2 h3 {
    margin-bottom: 10px; /* Adjusted margin-bottom */
}

/* Gallery Styles */
.gallery-container {
    position: relative;
    overflow: hidden;
}

.gallery {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.gallery img {
    scroll-snap-align: center;
    width: 300px; /* Adjust width as needed /
    height: 200px; / Adjust height as needed /
    object-fit: cover; / Preserve aspect ratio */
    cursor: pointer;
}

.scroll-btn {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    color: #333;
    font-size: 1.5rem;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 1;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}
